<footer>
  <small>© <%= site.time.year %> Felipe Vogel. Powered by <a href="https://www.bridgetownrb.com/">Bridgetown</a>.<news-feed><a href="/feed.xml"><%= svg "/images/theme/news-feed.svg", width: 12, height: 12 %> News feed</a></news-feed></small>
</footer>
