<% links.each do |name, url| %>
  <li>
    <% if (resource.relative_url.start_with?(url) && url != "/") ||
      (resource.relative_url == "/" && url == "/") %>
      <span class="current-section"><%= name %></span>
    <% else %>
      <a href="<%= url %>" rel="me" class="section">
        <%= name %>
      </a>
    <% end %>
  </li>
<% end %>
