<nav>
  <ul>
    <%= render "nav_links", links:
        { "ðŸ  Home" => "/",
          "âœï¸ Posts" => "/posts/",
          "ðŸ“š Reading" => "/reading/" } %>
    <%= render "nav_social_links", links:
      { "GitHub" => "https://github.com/fpsvogel",
        "Mastodon" => "https://ruby.social/@fpsvogel",
        "Bluesky" => "https://fpsvogel.bsky.social",
        "LinkedIn" => "https://linkedin.com/in/fpsvogel",
        "Email" => "(fpsvogel at gmail)" } %>
  </ul>
</nav>
