<nav>
  <ul>
    <%= render "nav_links", links:
        { "ðŸ  Home" => "/",
          "âœï¸ Blog" => "/posts/",
          "ðŸ“š Reading" => "/reading/",
          "âœ¨ Resume" => "/about/" } %>
    <%= render "nav_social_links", links:
      { "LinkedIn" => "https://linkedin.com/in/fpsvogel",
        "Twitter" => "https://twitter.com/fpsvogel",
        "GitHub" => "https://github.com/fpsvogel" } %>
  </ul>
</nav>
