<li class="nav-social-links" >
  <% links.each.with_index do |(name, url), i| %>
    <nav-social-link>
      <a href="<%= url %>" target="_blank" rel="me" title="<%= name %>">
        <%= svg "/images/theme/#{name.downcase.gsub(" ", "-")}.svg" %>
      </a>
    </nav-social-link>
  <% end %>
</li>
