<nav>
  <ul>
    <%= render "nav_links", links:
        { "ðŸ  Home" => "/",
          "âœï¸ Blog" => "/posts/",
          "ðŸ“š Reads" => "/reading/",
          "ðŸ“ˆ Stats" => "/reading-stats/",
          "âœ¨ Resume" => "/about/" } %>
    <%= render "nav_social_links", links:
      { "GitHub" => "https://github.com/fpsvogel",
        "Mastodon" => "https://ruby.social/@fpsvogel",
        "LinkedIn" => "https://linkedin.com/in/fpsvogel" } %>
  </ul>
</nav>
